h1 {
  color: aquamarine;
}
body {
  background-color: darkslategrey;
  font-family: fantasy;
}

.Pablo {
  border-style: groove;
  padding: 38px;
  border-radius: 15px;
}
.Pablo-image {
  float: left;
  margin-right: 15px;
  border-radius: 15px;
}

.bikes {
  /* float: right; */
  border-radius: 15px;
  padding: 20px;
  border-style: groove;
}
.bike-image {
  border-radius: 15px;
}
.massive {
  float: right;
  border-radius: 15px;
}

.important {
  color: ghostwhite;
}

.image {
  /* float: right; */
  margin-right: 20px;
}

.p-tag {
  margin: 12px;
  border: 4px solid rgb(2, 2, 2);
  padding: 4px;
  background-color: paleturquoise;
  box-sizing: border-box;
  font-family: fantasy;
  font-size: larger;
}

.training {
  margin: 18px;
  border: 4px solid rgb(0, 0, 0);
  padding: 4px;
  background-color: powderblue;
  box-sizing: content-box;
  font-family: fantasy;
  font-size: larger;
}
.work {
  float: middle;
}
.kids {
  float: right;
  margin-right: 15px;
  border-radius: 15px;
}
.coding {
  margin: 18px;
  border: 4px solid rgb(0, 0, 0);
  padding: 4px;
  background-color: powderblue;
  box-sizing: content-box;
  font-family: fantasy;
  font-size: larger;
}
.reason {
  margin: 18px;
  border: 4px solid rgb(0, 0, 0);
  padding: 4px;
  background-color: powderblue;
  box-sizing: content-box;
  font-family: fantasy;
  font-size: larger;
}
.clear {
  clear: both;
}
