h1 {
  color: aquamarine;
}
body {
  background-color: darkslategrey;
}

div {
  border: 15px solid darkturquoise;
  padding: 10px;
}

image2 {
  float: right;
  width: 300px;
  border: 15px solid darkturquoise;
}

.important {
  color: ghostwhite;
}

.image3 {
  float: right;
}
