h1 {
  color: aquamarine;
}
body {
  background-color: darkslategrey;
  font-family: fantasy;
}

.Pablo {
  float: left;
  border-style: solid;
  padding: 38px;
}

.bikes {
  float: right;
  border-radius: 15px;
  padding: 20px;
  border-style: groove;
}

.important {
  color: ghostwhite;
}

.image {
  float: right;
  margin-right: 20px;
}

.p-tag {
  margin: 12px;
  border: 2px solid rgb(2, 2, 2);
  padding: 4px;
  background-color: paleturquoise;
  box-sizing: border-box;
  font-family: fantasy;
  font-size: larger;
}

.training {
  float: right;
  margin: 18px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
  box-sizing: content-box;
}
.work {
  float: middle;
}
.kids {
  border-style: groove;
  float: right;
  padding: 20px;
  border-radius: 15px;
}
